@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap'); 


.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
 margin-top: -10px;
margin-bottom: 0px;

  height: 100vh;
  width: 100%;
  background-color: rgb(227, 196, 196);
}
.game-heading {
  color: gray;
  font-size: 38px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
 

}
.master-heading{
  color: #da551b;
}
.master-student-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/* margin-bottom: 30px; */
/* margin-top:90 px; */
  height: 100vh;
  width: 100%;
  margin: 0px;
  background-image: linear-gradient(to right top, #da551b, #e67807, #ec9b00, #edbe00, #e9e022);
  /* border-top-left-radius: 200px; */
 ;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
} 
.master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  margin-top: -50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
 
}
.student-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 50%;
  width: 50%;
  margin-top: -37px;
 
  /* padding-left: 50px; */

  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.master-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 350px;
  background-color: white;
  box-shadow: 0px 4px 20px 0px black;
 
  padding: 25px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  /* border: 2px solid red; */
  /* margin-right: 100px; */
}
.label {
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat';
  cursor: pointer;
  margin-bottom: -10px;
}
.master-name-input {
  margin-bottom: 0px;
  height: 30px;
  width: 300px;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: aliceblue;
  color: blue;
padding-left: 10px;
  font-size: 20px;
  font-weight: 200; 
  font-family: 'Lora';
  cursor: pointer;
  /* text-align: center; */
}
.button {
  height: 35px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #426f29, #7e6700, #bd490f, #e80061, #d120cc);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto';
  margin-left: 200px;
  border: 0px;
  cursor: pointer;
}
.master-heading {
 color: #183f82e4;
  font-size: 35px;
  font-weight: 800;
  font-family: 'Roboto';
}
.error {
  color: red;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto';
}
.master-login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 2px solid green; */
  height: 500px;
  width: 500px;
  background-color: gray;
  margin-left: 0px;
  border-radius: 40px;
  box-shadow: 0px 4px 16px 0px white;
  padding: 10px;
}
.master-heading-span {
  color: rgba(6, 1, 28, 0.783);
  font-size: 30px;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 10px;
  font-family: 'Roboto';
 
  text-transform: uppercase;
}
.master-login-desc{
  font-size: 20px;
  font-weight: 500;
}
.master-heading-name{
  color: rgba(65, 5, 41, 0.783);
  font-size: 20px;
  font-weight: 600;
  margin-left: 8px;
  margin-right: 10px;
  font-family: 'Roboto';
 
  text-transform: uppercase;
}
.master-login-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  color: white;
  font-size: 28px;
  font-weight: 600;
  
  font-family: 'Montserrat';
  /* background-color: white; */
 
  /* border: 2px solid blue; */
 

 
}
.master{
  color: rgba(18, 57, 5, 0.868);
  font-size: 26px;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 10px;
  font-family: 'Lora';
 
  text-transform: uppercase;  
}
.ques-label{
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat';
  cursor: pointer;
  margin-bottom: 30px;
}
.master-login-desc {
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto';
}
.student-after-login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 2px solid green; */
  height: 360px;
  width: 460px;
  margin-top: -10px;
  background-color: gray;
  border-radius: 40px;
  box-shadow: 0px 4px 16px 0px white;
  padding: 10px;
}
.student-after-login-heading {
  color: white;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
 margin-left: 0px;
}
.master-heading-span-{
  color: rgba(162, 25, 57, 0.936);
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lora';
 margin-left: 0px;
 text-transform: uppercase;
}
.master-heading-span-s{
  font-size: 25px;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 0px;
  font-family: 'Lora';
color: #fff;
  text-transform: uppercase;  
}
.master-heading-span-s .span{
  color: rgba(18, 57, 5, 0.868);
  font-family: 'Lora';
  font-weight: 700;
}
.master-heading-span-s span{
  color: #fff;
  font-weight: 900;
  font-family: "Lora";
}
.master-heading-span--{
  color: rgba(6, 1, 28, 0.783);
  font-size: 28px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
 
 
}
.master-question-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 150px;
  width: 450px;
  background-color: rgb(17, 198, 32);
  border-radius: 25px;
  border: 0px;
  margin: 10px;
  padding-top: 20px;
  padding-left: 10px;
  
}
.button-two {
  height: 35px;
  width: 320px;
  background-color: rgb(140, 237, 179);
  border-radius: 7px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto';
margin-right: 100px;
  border: 0px;
  margin-top: 10px;
  cursor: pointer;
}
.answers-un-order-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40vh;
  width: 90%;
  margin-top: -30px;
  /* background-color: white; */
  /* border: 2px solid black; */
}
.answers-list-is{}


.buttons{
     background-color: transparent;
    border: none;
    color: rgb(176, 35, 35);
    font-size: 18px;
    font-weight: 600;
  
    margin: 12px 15px;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
    transition: .5s;
}
.buttons:before {
  border-left: 4px solid #fff ;
  border-top: 4px solid #fff ;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}
.buttons:after {
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff ;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  right: 0;
  width: 10px;
}
.button:hover::after{
  width: 100%;
  height: 100%;
  transition: 0.6s;
 }
 .buttons:hover::before{
  width: 100%;
  height: 100%;
  transition: 0.6s;
 }
 .buttons:hover{
  background: #fff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
 }
 .buttons:hover::after{
  width: 100%;
  height: 100%;
  transition: 0.6s;
 }
 .log-out-button-t{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.4);
  background: #262c37;
  font-size: 15px;
  transition: 0.5s;
  margin-left: 340px;
  margin-top: 10px;
  font-weight: 600;
 }
 .log-out-button-t:hover{
  color: rgba(255,255,255,1);
  cursor: pointer;
 }
 .log-out-button-t span{
  display: block;
  position: absolute;
  background: #2894ff;
 }
 .log-out-button-t span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
 }
 .log-out-button-t:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
 }
 
 .log-out-button-t span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
 }
 .log-out-button-t:hover span:nth-child(2){
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
 }

 .log-out-button-t span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
 }
 .log-out-button-t:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
 }

 .log-out-button-t span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
 }
 .log-out-button-t:hover span:nth-child(4){
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
 }
 .answer-list-container {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 600px;
  /* background-color: gray; */
  border-radius: 20px;
  /* border: 2px solid yellow; */
  margin-bottom: 5px;
  padding: 5px;
  margin-left: -30px;
}
.desc {
  color: blue;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Lora';
  margin-right: 30px;
}
.ans-span {
  color: black;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Lora';
}
